 <div class="user-details">
  <h1> About Myself </h1>
  <p>
    Self-taught developer, I'm passionate about web development and programming in general,
    you will find on this site some of my projects and blogs posts about what I'm interested in or what I've learned.
  </p>
</div>
  <!-- <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-typescript-plain colored"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-mongodb-plain-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark colored"></i>
      <i class="devicon-express-original-wordmark colored"></i>
      <p>also knowledge in react, go, sql, blabla</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-webpack-plain colored"></i>
      <i class="devicon-visualstudio-plain" style="color: #0179df"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div> -->
