<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" target="_blank" href=mailto:{{site.email}}><i class="icon fa fa-envelope"></i></a>
        <a aria-label="Linkedin" target="_blank" href={{site.linkedin}}><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a aria-label="Angel List" target="_blank" href={{site.angel_list}}><i class="icon fa fa-angellist" aria-hidden="true"></i></a>
        <a aria-label="Github" target="_blank" href={{site.github_username}}><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
        <a class="link" href="#blog" data-scroll>Blog</a>
        <a class="link resume-en" target="_blank" rel="noopener noreferrer" href="/assets/pdf/resume_en.pdf" data-scroll>Resume (en)</a>
        <span class="resume-separator">/</span>
        <a class="link resume-fr" target="_blank" rel="noopener noreferrer" href="/assets/pdf/resume_fr.pdf" data-scroll>Curriculum vitae (fr)</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
