input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.archive_contenaire {
    display: flex;
}

.tabs {
    overflow: hidden;
  }
  .tab {
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    &-label {
      display: flex;
      justify-content: space-between;
      padding: 1em;
      font-weight: bold;
      cursor: pointer;
      /* Icon */
      &:hover {
        background: darken(lightgrey, 10%);
      }
      &::after {
        content: "\276F";
        width: 1em;
        height: 1em;
        text-align: center;
        transition: all .35s;
      }
    }
    &-content {
      max-height: 0;
      padding: 0 1em;
      transition: all .35s;
    }
    &-close {
      display: flex;
      justify-content: flex-end;
      padding: 1em;
      font-size: 0.75em;
      cursor: pointer;
      &:hover {
        background: darken(lightgrey, 10%);
      }
    }
  }
  
  // :checked
  input:checked {
    + .tab-label {
      &::after {
        transform: rotate(90deg);
      }
    }
    ~ .tab-content {
      max-height: 100vh;
    }
  }