#blog_container {
    display: grid;
    grid-template-columns: 75% 25%;
    @media only screen and (max-width: $cut) {
        display: inherit;
      }
}

#last_posts {
    margin: 0% 10% auto;
    @media only screen and (max-width: $cut) {
        margin: 0 auto;
      }
}