---
---

@import 'lib/normalize';
@import 'lib/fontawesome';
@import 'lib/devicon';
@import 'base';
@import 'vars';
@import 'archive';
@import 'footer';


header {
    text-align: center;
    margin-top: 1%;
}

#blog_content {
    display: grid;
    grid-template-columns: 80% 20%;
    margin: 0% 5% auto;
    @media only screen and (max-width: $cut) {
        display: inherit;
    }
}

#comment_section {
    margin: 0% 5% auto;
}

img {
    width: 75%;
}

.footnote {
    padding: 0% 5%;
}

.note {
    list-style-type: decimal;
}

