<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/src/css/blog_content.css" | prepend: site.baseurl }}">
  </head>
  <body>
      <header>
        {{site.username}}'s blog <a href="{{ "/" | prepend: site.baseurl}}">back to main page</a>
      </header>
      <section id="blog_content">
        <div id="post">
            <!-- post content -->
            {{ content }} 
        </div>
        {% include archive.html %}
      </section>
      <section id="comment_section">
        <script src="https://utteranc.es/client.js"
            repo="lockee14/lockee14.github.io"
            issue-term="pathname"
            theme="github-light"
            crossorigin="anonymous"
            async>
        </script>
      </section>
      {% include blog_footer.html %}
  </body>