<!DOCTYPE html>
<html lang="en">
  <!-- <head>
    <link rel="stylesheet" href="{{ "/src/css/blog_content.css" | prepend: site.baseurl }}">
  </head> -->
  {% include head.html stylesheet = "/src/css/blog_content.css" %}
  <body>
      <header>
        Mehdi Luthon's blog <a href="{{ "/" | prepend: site.baseurl}}">back to main page</a>
      </header>
      <section id="content">
        <div id="post">
            <!-- post content -->
            {{ content }} 
        </div>
        {% include archive.html %}
      </section>
      <section id="comment_section">
        <div id="commento"></div>
        <script src="https://cdn.commento.io/js/commento.js"></script>
      </section>
      {% include footer.html %}
  </body>