<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/src/css/blog_content.css" | prepend: site.baseurl }}">
  </head>
  <body>
      <header>
        {{site.username}}'s blog <a href="{{ "/" | prepend: site.baseurl}}">back to main page</a>
      </header>
      <section id="blog_content">
        <div id="post">
            <!-- post content -->
            {{ content }} 
        </div>
        {% include archive.html %}
      </section>
      <section id="comment_section">
        <div id="commento"></div>
        <script defer src="https://cdn.commento.io/js/commento.js"></script>
      </section>
      {% include footer.html %}
      <script defer src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
  </body>